@import "../../../globalStyles/scss/variables.scss";

.product-description {
  overflow-x:hidden !important;
 
  h3 {
    text-transform: uppercase;
    margin-bottom: $spacer;
    font-weight: 400;
    line-height: 1.3 !important;
    color: #555 !important;
    font-size: 19px !important;
    line-height: 1.3 !important;
    font-family: "Amazon Ember",Arial,sans-serif;
  }

  h4 {
    margin-bottom: $spacer;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 17px !important;
  }

  &__about {
    margin: $spacer * 2 0;

    h4 {
      font-weight: 400;
      color: #000;
      font-family: "Amazon Ember",Arial,sans-serif;
      font-size: 16px !important;
      border-bottom: 1px solid $gray;
      padding-bottom: $spacer / 2;
      margin-bottom: $spacer / 2;
    }

    p {
      font-size: 15px;
      line-height: 19px;
      font-family: "Amazon Ember",Arial,sans-serif;
    }

    img {
      max-width: 100%;
    }
  }

  &__undiscounted_price {
    text-decoration: line-through;
    color: $gray;
    font-size: $small-font-size;
    font-weight: regular;
  }

  &__action {
    min-height: 49px;

    &--fade {
      $animation-speed: 200ms;
      background-color: $turquoise-dark;

      &-enter {
        opacity: 0;

        @at-root #{&}#{&}-active {
          opacity: 1;
          transition: opacity $animation-speed ease-in;
        }
      }

      &-leave {
        opacity: 1;

        @at-root #{&}#{&}-active {
          opacity: 0;
          display: none;
          transition: opacity $animation-speed ease-out;
        }
      }
    }
  }

  &__selected-attributes {
    font-size: $small-font-size;
    margin-top: 20px;

    > span:first-child {
      color: $gray-dark;
    }
  }

  &__variant-picker {
    display: grid;
    margin-top: 20px;

    .react-select-wrapper,
    .input {
      width: 50%;
      margin-bottom: 1rem;
    }

    &__quantity {
      display: flex;

      .input {
        margin-left: $spacer * 2;
        max-width: 6rem;

        .input__field {
          max-width: 100%;
        }
      }
    }
  }

  &__error-message {
    color: $message-error-color;
  }

  &__quantity-input {
    margin-top: 20px;
    padding-top: 20px;
  }
}









.modal-window {

  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  &:target {
    visibility: visible;
    background-color:rgba(0, 0, 0, 0.5);
    opacity: 1;
    pointer-events: auto;
  }
  &>div {
    width: 700px;
    @media (max-width: $small-screen) {
        width: 350px !important;
      }

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #ffffff;
  }


}

.modal-close {
  color: #111;
  line-height: 50px;
  font-size: 90%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: red;
  }
}





.modal-window div:not(:last-of-type) {
  margin-bottom: 5px;
}



table { 
  width: 350px; 
  border-collapse: collapse; 
  margin:0 auto;
  }

/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
  }

th { 
  background: #3498db; 
  color: white; 
  font-weight: bold; 
  }

td, th { 
  border: 1px solid #ccc; 
  text-align: left; 
  font-size: 13px;
  padding: 0.5rem 0.5rem !important;
  }

.cont {
  color:white !important;
}

.mysize{
  font-size:11px !important;

  color:#111;

}



th {
  color:#fff !important;
}


.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: blue;
  outline: 0;
}



.third {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

